body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
 }
 header {
    display: inline;
 }
 main {
    padding: 20px;
    overflow: auto;
 }
 h2 {
    color: #00a2c6
 }
  
 h3 {
    color: #00a2c6
 }

 .dark-mode {
    background-color: black;
    color: white;
  }

 /* =====================NAV====================*/
nav {
    background-color: #00a2c6;
    position: sticky;
    top: 0;
 }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #44cceb;
}

nav a#pull {
    display: none;
}

/* ==================END NAV====================*/

 .biodata header {
    text-align: center;
 }

 .biodata img {
    width: 200px;
    display: block;
    text-align: center;
    margin: 5px auto 0;
    border-radius: 100%;
 }

 footer {
    padding: 5px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
 }

 .featured-image {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
 }

 
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 20px;
    margin-top: 20px;
 }

 .jumbotron {
    font-size: 20px;
    padding: 100px;
    background: url(../img/background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
 }

 #content {
    float: left;
    width: 75%;
 }

 aside {
    float: right;
    width: 25%;
    padding-left: 20px;
 }

 * {
    box-sizing: border-box;
 }

 /* =====================MARQUEE====================*/

 .marquee {
    width: auto;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .marquee span {
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    /* show the marquee just outside the paragraph */
    animation: marquee 15s linear infinite;
  }
  
  .marquee span:hover {
    animation-play-state: paused
  }

  /* Make it move */

@keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  
  /* Respect user preferences about animations */
  
  @media (prefers-reduced-motion: reduce) {
    .marquee { 
      white-space: normal 
    }
    .marquee span {
      animation: none;
      padding-left: 0;
    }
  }
/* =====================END MARQUEE====================*/

 @media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
 }

 /* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/*perangkat dengan layar 600px kebawah*/
@media screen and (max-width: 600px) {
	nav {
  		height: auto;
  		border-bottom: 0;
        background: #00a2c6;
        padding: 5px;
  	}
  	nav ul {
  		width: 100%;
  		display: none;
        height: auto;    
  	}
  	nav li {
  		width: 100%;
  		float: none;
        display: block;  
  	}
  	nav li a {
		border-bottom: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;  
	}
  	nav a {
	  	text-align: left;
        width: 100%;
        text-indent: 25px;
        color: #333333;  
        text-decoration: none;
  	}
  	nav a#pull {
		display: block;
		background-color: #00a2c6;
		width: 100%;
		position: relative;
		color: #ffffff;
	}
	nav a#pull:after {
		content:"";
		background: url('../img/nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
	}
}